@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#navTag{
    background-color: #1B4098;

}
#navbarSupportedContent>ul>li>a{
    color: white;
    font-weight: 700;
    transition: 0.5s;
   
    margin-right: 20px;
}
#navbarSupportedContent>ul>li>a:hover{
    background-color: #49b7e2;
}
#models1{
    font-weight: 700;
}
.pre h5{
    background-color: #625656;
    text-transform: uppercase;
    padding: 4px;
    color: #d6cece;
    text-align: center;

}
.imgclr>img {
    background: linear-gradient(#000000b7,#000000b1) !important;
    border: 2px solid #a59f9f;
}
.asset p{
    cursor: pointer;
    color: #1B4098;
}
.asset p:hover{
 text-decoration: underline;
 color: red;
 cursor: pointer;
}
.btnss .bb{
    margin-top: 10px;
  
}
.btnss button{
    border: 2px solid #161616;
    background-color: transparent;
    transition: 0.5s;
}
.btnss button:hover{
    background-color: #873299;
    color: white;
    border: none;
}
#more{
    background-color: #873299;
    padding: 20px;
}
.cntr p{
    color: #873299;
    padding: 5px;
   
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
    font-size: 12px;
}
.cntr p:hover{
   background-color: #085440;
   color: white;
}
.wht p{
    font-weight: 700;
    cursor: pointer;
    
}
.our p i{
   margin: 5px;
   font-size: 14px;
}
.our p:hover{
    color: #1B4098;
    cursor: pointer;
    text-decoration: underline;
}
